<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group" id="main">
	<!-- wp:group {"layout":{"type":"constrained"},"style":{"spacing":{"padding":{"top":"var:preset|spacing|large","bottom":"var:preset|spacing|large"}}}} -->
	<div
		class="wp-block-group"
		style="
			padding-top: var(--wp--preset--spacing--large);
			padding-bottom: var(--wp--preset--spacing--large);
		"
	>
		<!-- wp:heading {"level":1,"textAlign":"center"} -->
		<h1 class="has-text-align-center">Page Not Found</h1>
		<!-- /wp:heading -->

		<!-- wp:paragraph {"align":"center","fontSize":"large"} -->
		<p class="has-text-align-center has-large-font-size">
			Sorry, the page you are looking for could not be found. It might have been
			removed, renamed, or did not exist in the first place.
		</p>
		<!-- /wp:paragraph -->

		<!-- wp:search {"label":"Search","showLabel":false,"placeholder":"Search for content...","width":100,"widthUnit":"%","buttonText":"Search","buttonPosition":"button-inside","buttonUseIcon":true} /-->
	</div>
	<!-- /wp:group -->

	<!-- wp:spacer {"height":"var:preset|spacing|large"} -->
	<div
		style="height: var(--wp--preset--spacing--large)"
		aria-hidden="true"
		class="wp-block-spacer"
	></div>
	<!-- /wp:spacer -->

	<!-- wp:columns -->
	<div class="wp-block-columns">
		<!-- wp:column -->
		<div class="wp-block-column">
			<!-- wp:heading {"level":2} -->
			<h2>Recent Posts</h2>
			<!-- /wp:heading -->

			<!-- wp:latest-posts {"postsToShow":5,"displayPostDate":true,"displayFeaturedImage":true,"featuredImageAlign":"left","featuredImageSizeSlug":"thumbnail"} /-->
		</div>
		<!-- /wp:column -->

		<!-- wp:column -->
		<div class="wp-block-column">
			<!-- wp:heading {"level":2} -->
			<h2>Categories</h2>
			<!-- /wp:heading -->

			<!-- wp:categories {"showHierarchy":true,"showPostCounts":true} /-->

			<!-- wp:spacer {"height":"var:preset|spacing|base"} -->
			<div
				style="height: var(--wp--preset--spacing--base)"
				aria-hidden="true"
				class="wp-block-spacer"
			></div>
			<!-- /wp:spacer -->

			<!-- wp:heading {"level":2} -->
			<h2>Archives</h2>
			<!-- /wp:heading -->

			<!-- wp:archives {"showPostCounts":true} /-->
		</div>
		<!-- /wp:column -->
	</div>
	<!-- /wp:columns -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
