<!-- wp:template-part {"slug":"header","theme":"hog-scaffold","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group" id="main">
	<!-- wp:group {"tagName":"article","layout":{"type":"constrained"}} -->
	<article class="wp-block-group">
		<!-- wp:post-title {"level":1} /-->

		<!-- wp:group {"layout":{"type":"flex","flexWrap":"wrap"},"style":{"spacing":{"blockGap":"var:preset|spacing|base","margin":{"top":"var:preset|spacing|base","bottom":"var:preset|spacing|large"}}}} -->
		<div
			class="wp-block-group"
			style="
				margin-top: var(--wp--preset--spacing--base);
				margin-bottom: var(--wp--preset--spacing--large);
			"
		>
			<!-- wp:post-date {"format":"F j, Y"} /-->
			<!-- wp:post-author {"showAvatar":true,"showBio":false,"byline":"By"} /-->
			<!-- wp:post-terms {"term":"category"} /-->
			<!-- wp:post-terms {"term":"post_tag"} /-->
		</div>
		<!-- /wp:group -->

		<!-- wp:post-featured-image {"style":{"spacing":{"margin":{"bottom":"var:preset|spacing|large"}}}} /-->

		<!-- wp:post-content {"layout":{"type":"constrained"}} /-->
	</article>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"hog-scaffold","tagName":"footer"} /-->
