.wp-block-hog-scaffold-example {
    border: 2px dashed #cbd5e1;
    margin: 1rem 0;
    padding: 1rem;
}

.wp-block-hog-scaffold-example .advanced-content {
    background: #dbeafe;
    border-radius: 0.25rem;
    color: #1e40af;
    margin: 0.5rem 0 0 0;
    padding: 0.5rem;
} 